@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



:root{
    --color-primario-100: #ffffff;
    --color-primario-400: #e4d6ff;
    --color-primario-700:#652bdf;
    --color-primario-800:#360c72;
    --color-primario-900: #2b2b2b;
    --color-divider:#bfbfbf;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Inter", sans-serif;
}

body{
    background-color: var(--color-primario-100);
}

ul, ol{
    list-style: none;
}

button {
    background: none;
    border: none;
    padding: 0;
}

a{
    text-decoration: none; 
}
a:active, a:visited{
    color: inherit
}

.header{
    border-bottom: 1px solid #e7eaed;
    width: 100%;
    height: 76px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-container{
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.header-container img{
    height: 37px;
}

.btn-menu{
    display: none;
}

.header__nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

.header__nav-list button{
    height: 41px;
    margin: 0px 4px;
    padding: 6px 24px;
    border-radius: 50px;
    font-family:"Inter", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-primario-900);
    white-space: nowrap
}

.header__nav-list button:hover{
    background-color: var(--color-primario-400);
    color: var(--color-primario-800);
}

.header__nav-list::after {
    content: "";
    width: 1px;
    height: 24px;
    background-color: var(--color-divider);
    margin-left: 1px; 
}

.logo-mobile img{
    display: none;
}

.header__actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 32px
} 

.header__actions li{
    height: 41px;
    width: 160px;
    margin: 0px 4px;
    padding: 6px 24px;
    border-radius: 50px;
    border: 1px solid var(--color-primario-700);
    padding: 6px 24px;
    font-family:"Inter", sans-serif;
    font-size: 14px;
}

.header__actions li a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: 700;
}

.header__actions-espacio{
    background-color: var(--color-primario-100);
    color: var(--color-primario-700);
}

.header__actions-espacio:hover{
    background-color: var(--color-primario-400);
    color: var(--color-primario-800);
}

.header__actions-nave{
    background-color: var(--color-primario-700);
    color: var(--color-primario-100);
}

.header__actions-nave:hover{
    background-color: var(--color-primario-400);
    color: var(--color-primario-800);
}

@media screen and (max-width: 984px){
    
    .header-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .header-container img{
        display: none;
    }

    .btn-menu{
        position: absolute;
        left: 24px;
        width: 40px;
        height: 40px;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .btn-menu i{
        font-size: 24px;
    } 
    
    .logo-mobile img{
        display: flex;
        justify-content: center;
        left: 50%;
    }

    .header__nav-list,
    .header__actions{
        display: none;
    }
} 



