@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



:root{
    --color-primario-100: #ffffff;
    --color-primario-200: #fbfaff;
    --color-primario-300:#f1ebfc;
    --color-primario-400: #e4d6ff;
    --color-primario-500:#6b6b6b;
    --color-primario-600:#632ade;
    --color-primario-700:#652bdf;
    --color-primario-900-box:#370d73;
    --color-primario-800:#360c72;
    --color-primario-900: #2b2b2b;
    --color-divider:#bfbfbf;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Inter", sans-serif;
}

body{
    background-color: var(--color-primario-200);
    font-size: 100%;
    font-family: "Inter", sans-serif;
    overflow-x: visible;
    height: 100%;
    padding-top: 76px;
}


ul, ol{
    list-style: none;
}

button {
    background: none;
    border: none;
    padding: 0;
}

a{
    text-decoration: none; 
}

.banner-inicio{
    display: flex; 
    justify-content: center;
}

.banner-inicio img{
    border-radius: 32px;
    height: 400px;
    max-width: 1100px;
    width: 100%;
}

.header{
    border-bottom: 1px solid #e7eaed;
    min-height: 76px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primario-100);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header-container{
    max-width: 1022px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.header-container img{
    height: 40px;
}

.btn-menu{
    display: none;
}

.header__nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

.header__nav-list button{
    height: 41px;
    margin: 0px 4px;
    padding: 6px 24px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-primario-900);
    white-space: nowrap;
    cursor: pointer;
}

.header__nav-list button:hover{
    background-color: var(--color-primario-400);
    color: var(--color-primario-800);
}

.header__nav-list::after {
    content: "";
    width: 1px;
    height: 24px;
    background-color: var(--color-divider);
    margin-left: 1px; 
}

.logo-mobile img{
    display: none;
}

.header__actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    font-weight: 700;
    gap: 10px
} 

.header__actions a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    height: 41px;
    width: 160px;
    padding: 6px 24px;
    border-radius: 50px;
    border: 1px solid var(--color-primario-700);
    padding: 6px 24px;
    font-size: 14px;
}

.header__actions-espacio{
    background-color: var(--color-primario-100);
    color: var(--color-primario-700);
    margin-left: 32px;
}

.header__actions-espacio:hover{
    background-color: var(--color-primario-400);
    color: var(--color-primario-800);
}

.header__actions-nave{
    background-color: var(--color-primario-700);
    color: var(--color-primario-100);
}

.header__actions-nave:hover{
    background-color: var(--color-primario-400);
    color: var(--color-primario-800);
}

/* FIN Estilos Header - INICIO Estilos Main*/

.main__body{
    max-width: 1022px;
    width: calc(100% - 48px);
    margin: 0 auto;
    padding: 30px 0 0;
    height: 100vh;
}

.main__section-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: auto;
}

.main__section-titulo{
    font-size: 100%;
    width: 100%;
    text-align: center;
}

h1.main-title{
    font-size: 40px;
    font-weight: 700;
    color:var(--color-primario-900);
    line-height: 2.625rem;
    text-align: center;
}

.separatorL{
    height: 32px;
    width: 100%;
}

.separatorXL{
    height: 64px;
    width: 100%;
}

.separatorS{
    height: 16px;
    width: 100%;
}

.section-vuelo-beneficios{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center stretch; 
    width: 100%;   
    gap: 24px;
    }

.section-vuelo-cajas{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    background-color: white;
    border-radius: 16px;
    padding: 24px;
    margin-top: 12px;
    flex: 1
    }

.section-vuelo-icon{
font-size: 24;
color: var(--color-primario-600);
/* font-weight: 400; no funciona porque no es SVG, los iconos de bootstrap no aceptan cambios en su weight */
padding: 16px;
border-radius: 8px;
background-color: var(--color-primario-300);
}

.section-vuelo-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    flex-wrap: wrap;
}

h2.cards-beneficio{
    font-size: 24px;
    color: var(--color-primario-900);
    font-weight: 600;
    letter-spacing: -.045em;
    line-height: 1.625rem;
}

p{
    font-size: 18px;
    color: var(--color-primario-500);
    line-height: 1.5;
    font-weight: 400;
}

.section-vuelo-historias{
    background-color: var(--color-primario-800);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 32px 70px;
    border-radius: 32px;
    width: 100%;
}

.section-vuelo-historias-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    gap: 16px;
    width: 100%;
}

.section-vuelo-historias-text h2{
    font-size: 30px;
    color: var(--color-primario-100);
    font-weight: 600;
    line-height: 2rem;
}

.section-vuelo-historias span{
    color: var(--color-primario-100);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.375rem;
}

.section-vuelo-historias-btn{
    display: flex;
    justify-content: end;
}

.section-vuelo-historias-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primario-100);
    color: var(--color-primario-700);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 32px;
    min-width: 192px;
    min-height: 43px;
}

.section-vuelo-historias-btn:visited,
.section-vuelo-historias-btn:active {
    color: var(--color-primario-700)
}

.section-vuelo-historias-btn a:hover{
    background-color: black;
    color: var(--color-primario-400);
}

/* SECCION 2 */

.sectionB__cajas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch; 
    width: 100%;   
    gap: 48px;
    }

.sectionB__container-text-img{
    background-color: var(--color-primario-100);
    display: flex;
    flex-direction: row;
    border-radius: 32px;
}

.sectionB__container-text-img-rev{
    background-color: var(--color-primario-100);
    display: flex;
    flex-direction: row-reverse;
    border-radius: 32px;
}

.sectionB__container-text-img-rev img{
    width: 100%;
    flex: 1
}
.sectionB__container-text-img img{
    width: 100%;
    flex: 1
}

.sectionB__container-text-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 32px 24px;
}

.sectionB__container-text-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 32px 24px;
}

.sectionB__container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    margin-top: 54px;
}

h2.title{
    line-height: 34px;
    letter-spacing: -.045em;
    color: var(--color-primario-900);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 24px
}

p.desc{
    color: var(--color-primario-900);
}

a.btn-setionB{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    padding: 6px 24px;
    border-radius: 50px;
    border: 1px solid transparent;
    padding: 10px 32px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: .02857em;
    text-align: center;
    background-color: var(--color-primario-700);
    color: var(--color-primario-100);
    cursor: pointer;
    white-space: nowrap
}

a.btn-setionB:hover{
    background-color: var(--color-primario-900-box);
}

.order-change1{
    display: flex;
    order: 1;
}

.order-change2{
    display: flex;
    order: 2;
}


@media screen and (max-width: 991px) {

/* Estilos Header */

    .header-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .header-container img{
        display: none;
    }

    .btn-menu{
        position: absolute;
        left: 24px;
        width: 40px;
        height: 40px;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .btn-menu i{
        font-size: 24px;
        font-weight: 700;
        color: #2b2b2b;
    } 
    
    .logo-mobile img{
        display: flex;
        justify-content: center;
        left: 50%;
    }

    .header__nav-list,
    .header__actions{
        display: none;
    }

@media screen and (max-width: 767px){

     /* Estilo inicio */

    .banner-inicio img{
    height: auto;
    width: 100%;
    position: absolute;
    order: 0;
    border-radius: 0;
    }

    .module-banner{
    display: grid;
    gap: 26px;
    padding: 24px;
    }
    

    /* Estilos Section Vuelo */

    .section-vuelo-beneficios{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center; 
        gap: 8px;
        width: 100%;
        padding: 0px;
        height: auto;
    }

    body h1{
        margin: 0;
        font-size: 30px;
        line-height: 2.25rem;
}

    .section-vuelo-cajas{
        width: 100%;
        
}

    .section-vuelo-cajas h2{
        font-size: 20px;
}

    .section-vuelo-cajas p{
        font-size: 16px;
}

    .section-vuelo-historias{
        display: flex;
        flex-direction: column;
        padding: 32px 70px;
        gap: 32px;
}

    .section-vuelo-historias-text h2{
        font-size: 24px;
}

.section-vuelo-historias-btn{
    justify-content: center;
    width: 100%;
}

.section-vuelo-historias-btn a{
    width: 100%;
}
.sectionB__container-text-img{
    background-color: var(--color-primario-100);
    display: flex;
    flex-direction: column;
    border-radius: 32px;




}
}